@{
    
}
<h1>@ViewData["Title"]</h1>

<h2>Meu nome: @ViewBag.Nome</h2>

<form action="privacy" method="post">
    Id <input type="text" name="Id" />
    Nome <input type="text" name="Nome" />
         <input type="submit" name="name" value="Salvar" />
</form>

